@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100;500;700&display=swap");

:root {
  --main-background: #0469ff;
  --color-buttons: #ff3366;
  --hover-buttons: #e43c74;
}

header {
  padding: 2px 30px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: white;
  z-index: 1;
}
.link-hotels {
  text-decoration: none;
  font-size: 24px;
  color: var(--main-background);
}

.container {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

table {
  margin-top: 20px;
  width: 80%;
  border-collapse: collapse;
  border-radius: 25px;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-radius: 25px;
}

th {
  background-color: var(--main-background);
  padding: 10px 20px;
}
